@media (min-width: 1024px) {
    .article-list--compact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: 0 0;
        box-shadow: none;
        gap: 1rem;

        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 16px;
        }
    }
}

.article-list--compact, .section-card {
    img {
        border-radius: 8px;
    }
}

.has-image {
    .article-details {
        background: none !important;
    }
}