@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --zh-font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --base-font-family: "Noto Sans", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

@media (min-width: 1024px) {
    .article-list--compact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: 0 0;
        box-shadow: none;
        gap: 1rem;

        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 16px;
        }
    }
}

.article-list--compact, .section-card {
    img {
        border-radius: 8px;
    }
}

.has-image {
    .article-details {
        background: none !important;
    }
}